# =========================
# ========== APP =========
# =========================
JWT_SECRET=...
# =========================
# ========= MAIL =========
# =========================
MAIL_USERNAME=...
MAIL_PASSWORD=...
# =========================
# ===== AWS / S3 =========
# ===== (MinIO local) ====
# =========================
AWS_REGION=...
AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...
AWS_S3_ENDPOINT=...
AWS_S3_BUCKET=...
# =========================
# ===== DATABASE =========
# =========================
DATASOURCE_URL=...
DATASOURCE_USERNAME=...
DATASOURCE_PASSWORD=...

# =========================
# ===== ADMIN =========
# =========================
ADMIN_EMAIL=...
ADMIN_PASSWORD=...